#  Local .terraform directories
**/.terraform/*
.terraform*

# .tfstate files
*.tfstate
*.tfstate.*

.tool-versions
.vscode

# .tfvars files
 *.tfvars

# ansible retry files
**/*.retry

.vscode
*.pem

